__pycache__/
*.py[cod]
*$py.class
*.so

build/
dist/
*.egg-info/
.eggs/

.venv
venv/
env/
.env

.pytest_cache/
.coverage
htmlcov/
.hypothesis/

.mypy_cache/
.pytype/

.ipynb_checkpoints

.vscode/
.idea/

.DS_Store
